<ion-view hide-nav-bar="true">
    <ion-content class="padding" ng-controller="MainController">
        <div class="row responsive-sm camera-view"></div>
        <div class="row responsive-sm">
            <div class="col">
                <button class="button button-block ion-chevron-left" ng-click="moveLeft()"></button>
            </div>
            <div class="col">
                <button class="button button-block ion-chevron-right" ng-click="moveRight()"></button>
            </div>
            <div class="col"></div>
            <div class="col">
                <button class="button button-block ion-chevron-up" ng-click="moveUp()"></button>
            </div>
            <div class="col">
                <button class="button button-block ion-chevron-down" ng-click="moveDown()"></button>
            </div>
        </div>
    </ion-content>
</ion-view>