<ion-view hide-nav-bar="true">
    <ion-content ng-controller="MainController">
       <iframe ng-src="{{cameraAddress | trusted}}" class="brasilino-camera"></iframe>
        <div class="row responsive-sm camera-view"></div>
        <div class="row responsive-sm">
            <div class="col">
                <button class="button button-block ion-chevron-left" ng-touchstart="move('[EES]')" ng-touchend="release('[EEE]')"></button>
            </div>
            <div class="col">
                <button class="button button-block ion-chevron-right" ng-touchstart="move('[DDS]')" ng-touchend="release('[DDE]')"></button>
            </div>
            <div class="col"></div>
            <div class="col">
                <button class="button button-block ion-chevron-up" ng-touchstart="move('[AAS]')" ng-touchend="release('[AAE]')"></button>
            </div>
            <div class="col">
                <button class="button button-block ion-chevron-down" ng-touchstart="move('[FFS]')" ng-touchend="release('[FFE]')"></button>
            </div>
        </div>
    </ion-content>
</ion-view>
